In [4]:
import pandas as pd
import numpy as np

In [22]:
# Log file from psychopy.
log_fn=os.path.join('..',
                    'data', 
                    'logfiles', 
                    'sub-sub-02_BrainplaybackQuadrants_2023-01-04_16h52.48.419_run-4.csv')



results_fn = 'sub-02_music-list_run-04.csv'



#log_fn='PL01-64CH_brainplayback_quadrants_2022-10-03_16h12.51.103.csv'

#sub_id='PL01'
#sess_id='01'
#task_id='01'
#run_id='3'

In [23]:
# Create pandas dataframe to read data into data structure.
df_log=pd.read_csv(log_fn)

# Select subset of columns
df_log=df_log.loc[:,["MusicsSelect", "MusicExcerpt.started","baseline.started", "FixationCross.started"]]

# Remove rows with NaN - nor necessary for this event files.
df_log=df_log.dropna(how="any")

In [24]:
df_log

,MusicsSelect,MusicExcerpt.started,baseline.started,FixationCross.started
0,MusicListQ2.csv,81.155926,69.135759,92.656334
4,MusicListQ1.csv,129.174276,117.174444,140.675214
8,MusicListQ3.csv,177.226358,165.209458,188.710242
12,MusicListQ4.csv,225.278165,213.244306,236.761713
17,MusicListQ2.csv,273.329839,261.296265,284.813585
21,MusicListQ3.csv,321.381410,309.347690,332.865287
25,MusicListQ1.csv,369.433251,357.399518,380.917004
29,MusicListQ4.csv,417.484911,405.451172,428.968662
34,MusicListQ1.csv,465.536507,453.503927,477.020447
38,MusicListQ3.csv,513.588027,501.554426,525.071900
42,MusicListQ2.csv,561.639820,549.605912,573.123719
46,MusicListQ4.csv,609.691486,597.657665,621.175256

In [25]:

# Create pandas dataframe with columns required by the BIDS standard.
bids={'onset':[],'duration':[],'trial_type':[]}
df_bids=pd.DataFrame(bids)

In [26]:
#number of decimals when rounding numbers
decimals=2

# offset of the experiment in seconds (seconds until first baseline.)
exp_offset=df_log.iloc[0]["baseline.started"]

# considering the log file, add rows for each event.

# For each row:
for i in range(len(df_log)-1):
    # Add Baseline trial.
    df_bids.loc[len(df_bids.index)] = [np.round(df_log.iloc[i]["baseline.started"]-exp_offset, decimals),
                                       np.round(df_log.iloc[i]["MusicExcerpt.started"]-df_log.iloc[i]["baseline.started"], decimals),
                                      'Baseline'] 
    
    df_bids.loc[len(df_bids.index)] = [np.round(df_log.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                       np.round(df_log.iloc[i+1]["baseline.started"]-df_log.iloc[i]["MusicExcerpt.started"], decimals),
                                       df_log.iloc[i]["MusicsSelect"][-6:-4]]

In [27]:
df_bids

     onset  duration trial_type
0     0.00     12.02   Baseline
1    12.02     36.02         Q2
2    48.04     12.00   Baseline
3    60.04     36.04         Q1
4    96.07     12.02   Baseline
5   108.09     36.02         Q3
6   144.11     12.03   Baseline
7   156.14     36.02         Q4
8   192.16     12.03   Baseline
9   204.19     36.02         Q2
10  240.21     12.03   Baseline
11  252.25     36.02         Q3
12  288.26     12.03   Baseline
13  300.30     36.02         Q1
14  336.32     12.03   Baseline
15  348.35     36.02         Q4
16  384.37     12.03   Baseline
17  396.40     36.02         Q1
18  432.42     12.03   Baseline
19  444.45     36.02         Q3
20  480.47     12.03   Baseline
21  492.50     36.02         Q2

In [28]:
# Create tsv file.

df_bids.to_csv(f"sub-{sub_id}_ses-{sess_id}_task-{task_id}_run-{run_id}_events.tsv", sep="\t", index=False)

In [29]:
del df_bids