In [758]:
import pandas as pd
import numpy as np

import os
import glob

In [759]:
# Log file from psychopy.
path_search=os.path.join('..',
                    'data', 
                    'logfiles', 
                    'sub-04_BrainplaybackQuadrants_*_run-1.csv')

log_fn = glob.glob(path_search)[0]
print(path_search)
print(log_fn)

../data/logfiles/sub-04_BrainplaybackQuadrants_*_run-1.csv
../data/logfiles/sub-04_BrainplaybackQuadrants_2023-01-16_16h25.42.162_run-1.csv

In [760]:
#create a new lists by parsing the string using "," delimiter

head_tail = os.path.split(log_fn)
print(head_tail[1])

sub_id=head_tail[1].split("_")

print("Participant: ",sub_id[0])

run_id=sub_id[-1].split(".")
print("Run id: ",run_id[0])

sub-04_BrainplaybackQuadrants_2023-01-16_16h25.42.162_run-1.csv
Participant:  sub-04
Run id:  run-1

In [761]:
# run data
sub_id=sub_id[0]
run_id=run_id[0]

# default values
sess_id='01'
task_id='01permusic'

In [762]:
# Create pandas dataframe to read data into data structure.
df_log=pd.read_csv(log_fn)

In [763]:
df_log.columns

Index(['MusicsSelect', 'musics', 'trials.thisRepN', 'trials.thisTrialN',
       'trials.thisN', 'trials.thisIndex', 'blocks.thisRepN',
       'blocks.thisTrialN', 'blocks.thisN', 'blocks.thisIndex',
       'trialsMusics.thisRepN', 'trialsMusics.thisTrialN',
       'trialsMusics.thisN', 'trialsMusics.thisIndex',
       'WelcomeMessage.started', 'WelcomeMessage.stopped', 'Baseline1.started',
       'Noise.started', 'Baseline1.stopped', 'Noise.stopped',
       'Baseline2.started', 'Baseline2.stopped', 'MusicExcerpt.started',
       'ISI.started', 'MusicExcerpt.stopped', 'ISI.stopped',
       'Baseline3.started', 'GoodbyeText.started', 'Baseline3.stopped',
       'GoodbyeText.stopped', 'participant', 'session', 'trigger', 'date',
       'expName', 'psychopyVersion', 'frameRate', 'Unnamed: 37'],
      dtype='object')

In [764]:
# Select subset of columns
df_log_M=df_log.loc[:,["MusicsSelect","Baseline1.started", "Noise.started","Baseline2.started", "MusicExcerpt.started", "MusicExcerpt.stopped"]]

In [765]:
df_log_M

,MusicsSelect,Baseline1.started,Noise.started,Baseline2.started,MusicExcerpt.started,MusicExcerpt.stopped
0,MusicListQ2.csv,27.606404,39.559165,51.559607,63.579621,75.092716
1,MusicListQ2.csv,NaN,NaN,NaN,75.579687,87.091594
2,MusicListQ2.csv,NaN,NaN,NaN,87.613406,99.121107
3,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN
4,MusicListQ4.csv,99.580519,111.562688,123.563046,135.630240,147.141867
5,MusicListQ4.csv,NaN,NaN,NaN,147.630601,159.142138
6,MusicListQ4.csv,NaN,NaN,NaN,159.647765,171.151424
7,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN
8,MusicListQ3.csv,171.576276,183.565299,195.571719,207.649537,219.161835
9,MusicListQ3.csv,NaN,NaN,NaN,219.599949,231.111449
10,MusicListQ3.csv,NaN,NaN,NaN,231.633596,243.152868
11,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN
12,MusicListQ1.csv,243.614573,255.567790,267.571766,279.618775,291.121997
13,MusicListQ1.csv,NaN,NaN,NaN,291.585862,303.091945
14,MusicListQ1.csv,NaN,NaN,NaN,303.636322,315.142015
15,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,MusicListQ3.csv,315.623363,327.620476,339.624316,351.704537,363.210491
18,MusicListQ3.csv,NaN,NaN,NaN,363.688501,375.190377
19,MusicListQ3.csv,NaN,NaN,NaN,375.688745,387.191635
20,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN
21,MusicListQ4.csv,387.658812,399.623069,411.627181,423.673967,435.181363
22,MusicListQ4.csv,NaN,NaN,NaN,435.690886,447.191051
23,MusicListQ4.csv,NaN,NaN,NaN,447.674641,459.180481
24,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN
25,MusicListQ1.csv,459.647358,471.608806,483.621592,495.693114,507.200579
26,MusicListQ1.csv,NaN,NaN,NaN,507.676844,519.180677
27,MusicListQ1.csv,NaN,NaN,NaN,519.643996,531.150840
28,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN
29,MusicListQ2.csv,531.654779,543.611549,555.620658,567.679088,579.180758
30,MusicListQ2.csv,NaN,NaN,NaN,579.646194,591.151522
31,MusicListQ2.csv,NaN,NaN,NaN,591.679985,603.181038
32,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN

In [766]:
# Select subset of columns
df_last_bl=df_log.loc[:,["Baseline3.started", "Baseline3.stopped"]]

# Remove rows with NaN - nor necessary for this event files.
df_last_bl=df_last_bl.dropna(how="any")

In [767]:
df_last_bl

    Baseline3.started  Baseline3.stopped
34         603.703263         627.714661

In [768]:
# Create pandas dataframe with columns required by the BIDS standard.
bids={'onset':[],'duration':[],'trial_type':[]}
df_bids=pd.DataFrame(bids)

In [769]:
#number of decimals when rounding numbers
decimals=2

# offset of the experiment in seconds (seconds until first baseline.)
exp_offset=df_log_M.iloc[0]["Baseline1.started"]

# considering the log file, add rows for each event.

# For each row:
for i in range(len(df_log_M)-1):
    if not np.isnan(df_log_M.iloc[i]["Baseline1.started"]):
        # Add Baseline trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline1.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Noise.started"]-df_log_M.iloc[i]["Baseline1.started"],
                                                    decimals),
                                          'Baseline'] 
        # Add Noise trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Noise.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Baseline2.started"]-df_log_M.iloc[i]["Noise.started"],
                                                    decimals),
                                          'Noise'] 
        # Add Baseline2 trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline2.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-df_log_M.iloc[i]["Baseline2.started"],
                                                    decimals),
                                          'Baseline'] 

        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           df_log_M.iloc[i]["MusicsSelect"][-6:-4]] 
    
    elif not np.isnan(df_log_M.iloc[i]["MusicExcerpt.started"]):
    
        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           df_log_M.iloc[i]["MusicsSelect"][-6:-4]]

In [770]:
# Last block.

df_bids.loc[len(df_bids.index)] = [np.round(df_last_bl.iloc[0]["Baseline3.started"]-exp_offset, decimals),
                                       np.round(df_last_bl.iloc[0]["Baseline3.stopped"]-df_last_bl.iloc[0]["Baseline3.started"], decimals),
                                       'Baseline']

In [771]:
df_bids

     onset  duration trial_type
0     0.00     11.95   Baseline
1    11.95     12.00      Noise
2    23.95     12.02   Baseline
3    35.97     11.51         Q2
4    47.97     11.51         Q2
5    60.01     11.51         Q2
6    71.97     11.98   Baseline
7    83.96     12.00      Noise
8    95.96     12.07   Baseline
9   108.02     11.51         Q4
10  120.02     11.51         Q4
11  132.04     11.50         Q4
12  143.97     11.99   Baseline
13  155.96     12.01      Noise
14  167.97     12.08   Baseline
15  180.04     11.51         Q3
16  191.99     11.51         Q3
17  204.03     11.52         Q3
18  216.01     11.95   Baseline
19  227.96     12.00      Noise
20  239.97     12.05   Baseline
21  252.01     11.50         Q1
22  263.98     11.51         Q1
23  276.03     11.51         Q1
24  288.02     12.00   Baseline
25  300.01     12.00      Noise
26  312.02     12.08   Baseline
27  324.10     11.51         Q3
28  336.08     11.50         Q3
29  348.08     11.50         Q3
30  360.05     11.96   Baseline
31  372.02     12.00      Noise
32  384.02     12.05   Baseline
33  396.07     11.51         Q4
34  408.08     11.50         Q4
35  420.07     11.51         Q4
36  432.04     11.96   Baseline
37  444.00     12.01      Noise
38  456.02     12.07   Baseline
39  468.09     11.51         Q1
40  480.07     11.50         Q1
41  492.04     11.51         Q1
42  504.05     11.96   Baseline
43  516.01     12.01      Noise
44  528.01     12.06   Baseline
45  540.07     11.50         Q2
46  552.04     11.51         Q2
47  564.07     11.50         Q2
48  576.10     24.01   Baseline

In [772]:
# Create tsv file.
fn=f"{sub_id}_ses-{sess_id}_task-{task_id}_{run_id}_events.tsv"
df_bids.to_csv(os.path.join('bids-events-files',fn), sep="\t", index=False)

In [773]:
del df_bids