In [280]:
import pandas as pd
import numpy as np

import os
import glob

In [281]:
# Log file from psychopy.
path_search=os.path.join('..',
                    'data', 
                    'logfiles', 
                    'sub-15_BrainplaybackQuadrants_*_run-1.csv')

log_fn = glob.glob(path_search)[0]
print(path_search)
print(log_fn)

../data/logfiles/sub-15_BrainplaybackQuadrants_*_run-1.csv
../data/logfiles/sub-15_BrainplaybackQuadrants_2023-04-04_16h47.02.002_run-1.csv

In [282]:
#create a new lists by parsing the string using "," delimiter

head_tail = os.path.split(log_fn)
print(head_tail[1])

sub_id=head_tail[1].split("_")

print("Participant: ",sub_id[0])

run_id=sub_id[-1].split(".")
print("Run id: ",run_id[0])

sub-15_BrainplaybackQuadrants_2023-04-04_16h47.02.002_run-1.csv
Participant:  sub-15
Run id:  run-1

In [283]:
# run data
sub_id=sub_id[0]
run_id=run_id[0]

# default values
sess_id='01'
task_id='01permusic'

In [284]:
# Create pandas dataframe to read data into data structure.
df_log=pd.read_csv(log_fn)

In [285]:
df_log.columns

Index(['MusicsSelect', 'musics', 'trials.thisRepN', 'trials.thisTrialN',
       'trials.thisN', 'trials.thisIndex', 'blocks.thisRepN',
       'blocks.thisTrialN', 'blocks.thisN', 'blocks.thisIndex',
       'trialsMusics.thisRepN', 'trialsMusics.thisTrialN',
       'trialsMusics.thisN', 'trialsMusics.thisIndex',
       'WelcomeMessage.started', 'Baseline1.started', 'Noise.started',
       'Baseline1.stopped', 'Noise.stopped', 'Baseline2.started',
       'MusicExcerpt.started', 'ISI.started', 'MusicExcerpt.stopped',
       'ISI.stopped', 'Baseline2.stopped', 'Baseline3.started',
       'GoodbyeText.started', 'Baseline3.stopped', 'GoodbyeText.stopped',
       'participant', 'session', 'trigger', 'date', 'expName',
       'psychopyVersion', 'frameRate', 'Unnamed: 36'],
      dtype='object')

In [286]:
# Select subset of columns
df_log_M=df_log.loc[:,["MusicsSelect","Baseline1.started", "Noise.started","Baseline2.started", "MusicExcerpt.started", "MusicExcerpt.stopped"]]

In [287]:
df_log_M

,MusicsSelect,Baseline1.started,Noise.started,Baseline2.started,MusicExcerpt.started,MusicExcerpt.stopped
0,MusicListQ1.csv,20.018535,31.964527,43.965980,56.014461,67.527425
1,MusicListQ1.csv,NaN,NaN,NaN,68.001878,79.507404
2,MusicListQ1.csv,NaN,NaN,NaN,79.985661,NaN
3,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN
4,MusicListQ3.csv,91.983157,103.969764,115.976650,128.020314,139.527794
5,MusicListQ3.csv,NaN,NaN,NaN,139.987767,151.487210
6,MusicListQ3.csv,NaN,NaN,NaN,151.988082,163.497445
7,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN
8,MusicListQ2.csv,163.988507,175.972228,187.976983,200.022703,211.526913
9,MusicListQ2.csv,NaN,NaN,NaN,212.006791,223.518121
10,MusicListQ2.csv,NaN,NaN,NaN,224.007245,235.507831
11,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN
12,MusicListQ4.csv,235.988481,247.974656,259.976699,272.025500,283.537767
13,MusicListQ4.csv,NaN,NaN,NaN,283.992225,295.497220
14,MusicListQ4.csv,NaN,NaN,NaN,296.009266,307.517347
15,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,MusicListQ1.csv,308.021916,320.010080,332.017295,344.061216,355.567751
18,MusicListQ1.csv,NaN,NaN,NaN,356.044641,367.555391
19,MusicListQ1.csv,NaN,NaN,NaN,368.028571,379.536962
20,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN
21,MusicListQ3.csv,380.034062,392.012586,404.016631,416.063623,427.566881
22,MusicListQ3.csv,NaN,NaN,NaN,428.030440,439.536155
23,MusicListQ3.csv,NaN,NaN,NaN,440.047782,451.556501
24,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN
25,MusicListQ4.csv,452.037423,464.015316,476.015438,488.049097,499.555684
26,MusicListQ4.csv,NaN,NaN,NaN,500.049547,511.555657
27,MusicListQ4.csv,NaN,NaN,NaN,512.049919,523.555921
28,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN
29,MusicListQ2.csv,524.043162,536.017800,548.020198,560.068544,571.575205
30,MusicListQ2.csv,NaN,NaN,NaN,572.052261,583.556240
31,MusicListQ2.csv,NaN,NaN,NaN,584.036021,595.546363
32,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
# Select subset of columns
df_last_bl=df_log.loc[:,["Baseline3.started", "Baseline3.stopped"]]

# Remove rows with NaN - nor necessary for this event files.
df_last_bl=df_last_bl.dropna(how="any")

In [289]:
df_last_bl

    Baseline3.started  Baseline3.stopped
34         596.122045         620.136932

In [290]:
# Create pandas dataframe with columns required by the BIDS standard.
bids={'onset':[],'duration':[],'trial_type':[]}
df_bids=pd.DataFrame(bids)

In [291]:
#number of decimals when rounding numbers
decimals=2

# offset of the experiment in seconds (seconds until first baseline.)
exp_offset=df_log_M.iloc[0]["Baseline1.started"]

# considering the log file, add rows for each event.

# For each row:
for i in range(len(df_log_M)-1):
    if not np.isnan(df_log_M.iloc[i]["Baseline1.started"]):
        # Add Baseline trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline1.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Noise.started"]-df_log_M.iloc[i]["Baseline1.started"],
                                                    decimals),
                                          'Baseline'] 
        # Add Noise trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Noise.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Baseline2.started"]-df_log_M.iloc[i]["Noise.started"],
                                                    decimals),
                                          'Noise'] 
        # Add Baseline2 trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline2.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-df_log_M.iloc[i]["Baseline2.started"],
                                                    decimals),
                                          'Baseline'] 

        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           df_log_M.iloc[i]["MusicsSelect"][-6:-4]] 
    
    elif not np.isnan(df_log_M.iloc[i]["MusicExcerpt.started"]):
    
        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           df_log_M.iloc[i]["MusicsSelect"][-6:-4]]

In [292]:
# Last block.

df_bids.loc[len(df_bids.index)] = [np.round(df_last_bl.iloc[0]["Baseline3.started"]-exp_offset, decimals),
                                       np.round(df_last_bl.iloc[0]["Baseline3.stopped"]-df_last_bl.iloc[0]["Baseline3.started"], decimals),
                                       'Baseline']

In [293]:
df_bids

     onset  duration trial_type
0     0.00     11.95   Baseline
1    11.95     12.00      Noise
2    23.95     12.05   Baseline
3    36.00     11.51         Q1
4    47.98     11.51         Q1
5    59.97       NaN         Q1
6    71.96     11.99   Baseline
7    83.95     12.01      Noise
8    95.96     12.04   Baseline
9   108.00     11.51         Q3
10  119.97     11.50         Q3
11  131.97     11.51         Q3
12  143.97     11.98   Baseline
13  155.95     12.00      Noise
14  167.96     12.05   Baseline
15  180.00     11.50         Q2
16  191.99     11.51         Q2
17  203.99     11.50         Q2
18  215.97     11.99   Baseline
19  227.96     12.00      Noise
20  239.96     12.05   Baseline
21  252.01     11.51         Q4
22  263.97     11.50         Q4
23  275.99     11.51         Q4
24  288.00     11.99   Baseline
25  299.99     12.01      Noise
26  312.00     12.04   Baseline
27  324.04     11.51         Q1
28  336.03     11.51         Q1
29  348.01     11.51         Q1
30  360.02     11.98   Baseline
31  371.99     12.00      Noise
32  384.00     12.05   Baseline
33  396.05     11.50         Q3
34  408.01     11.51         Q3
35  420.03     11.51         Q3
36  432.02     11.98   Baseline
37  444.00     12.00      Noise
38  456.00     12.03   Baseline
39  468.03     11.51         Q4
40  480.03     11.51         Q4
41  492.03     11.51         Q4
42  504.02     11.97   Baseline
43  516.00     12.00      Noise
44  528.00     12.05   Baseline
45  540.05     11.51         Q2
46  552.03     11.50         Q2
47  564.02     11.51         Q2
48  576.10     24.01   Baseline

In [294]:
# Create tsv file.
fn=f"{sub_id}_ses-{sess_id}_task-{task_id}_{run_id}_events.tsv"
df_bids.to_csv(os.path.join('bids-events-files',fn), sep="\t", index=False)

In [295]:
del df_bids