In [15]:
import pandas as pd
import os

In [21]:
df = pd.read_csv(os.path.join('results', 'groupRussPos.csv'), header=None)

In [29]:
df

    max_valence  max_arousal  min_valence  min_arousal
0      0.308750     0.337500    -0.296250    -0.333750
1      0.295000     0.327500    -0.291250    -0.317500
2      0.263750     0.200000    -0.257500    -0.282500
3      0.292500     0.332500    -0.293750    -0.353750
4      0.298095     0.332381    -0.247619    -0.329524
5      0.301250     0.321250    -0.182500    -0.290000
6      0.291250     0.335000    -0.275000    -0.340000
7      0.274286     0.324762    -0.298095    -0.320952
8      0.298750     0.341250    -0.308750    -0.330000
9      0.301905     0.335238    -0.272381    -0.323810
10     0.258750     0.290000    -0.235000    -0.312500
11     0.304762     0.309524    -0.312381    -0.349524
12     0.275926     0.326852    -0.290741    -0.333333
13     0.272222     0.322222    -0.291667    -0.319444
14     0.308333     0.345370    -0.306481    -0.350000

In [26]:
df.columns= ['max_valence', 'max_arousal','min_valence', 'min_arousal']

In [27]:
df.head()

   max_valence  max_arousal  min_valence  min_arousal
0     0.308750     0.337500    -0.296250    -0.333750
1     0.295000     0.327500    -0.291250    -0.317500
2     0.263750     0.200000    -0.257500    -0.282500
3     0.292500     0.332500    -0.293750    -0.353750
4     0.298095     0.332381    -0.247619    -0.329524

In [28]:
df.describe()

       max_valence  max_arousal  min_valence  min_arousal
count    15.000000    15.000000    15.000000    15.000000
mean      0.289702     0.318757    -0.277291    -0.325772
std       0.016419     0.035544     0.034635     0.020271
min       0.258750     0.200000    -0.312381    -0.353750
25%       0.275106     0.321736    -0.297173    -0.336875
50%       0.295000     0.327500    -0.291250    -0.329524
75%       0.301577     0.335119    -0.264940    -0.318472
max       0.308750     0.345370    -0.182500    -0.282500