In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join('results', 'groupRussPos.csv'), header=None)

In [3]:
df

           0         1         2         3
0   0.308750  0.337500 -0.296250 -0.333750
1   0.295000  0.327500 -0.291250 -0.317500
2   0.263750  0.200000 -0.257500 -0.282500
3   0.292500  0.332500 -0.293750 -0.353750
4   0.298095  0.332381 -0.247619 -0.329524
5   0.301250  0.321250 -0.182500 -0.290000
6   0.291250  0.335000 -0.275000 -0.340000
7   0.274286  0.324762 -0.298095 -0.320952
8   0.298750  0.341250 -0.308750 -0.330000
9   0.301905  0.335238 -0.272381 -0.323810
10  0.258750  0.290000 -0.235000 -0.312500
11  0.304762  0.309524 -0.312381 -0.349524
12  0.275926  0.326852 -0.290741 -0.333333
13  0.272222  0.322222 -0.291667 -0.319444
14  0.308333  0.345370 -0.306481 -0.350000
15  0.276190  0.262857 -0.062857 -0.309524
16  0.306667  0.334286 -0.284762 -0.285714

In [4]:
df.columns= ['max_valence', 'max_arousal','min_valence', 'min_arousal']

In [5]:
df.head()

   max_valence  max_arousal  min_valence  min_arousal
0     0.308750     0.337500    -0.296250    -0.333750
1     0.295000     0.327500    -0.291250    -0.317500
2     0.263750     0.200000    -0.257500    -0.282500
3     0.292500     0.332500    -0.293750    -0.353750
4     0.298095     0.332381    -0.247619    -0.329524

In [6]:
df.describe()

       max_valence  max_arousal  min_valence  min_arousal
count    17.000000    17.000000    17.000000    17.000000
mean      0.289905     0.316382    -0.265117    -0.322460
std       0.016286     0.036191     0.061396     0.021557
min       0.258750     0.200000    -0.312381    -0.353750
25%       0.275926     0.321250    -0.296250    -0.333750
50%       0.295000     0.327500    -0.290741    -0.323810
75%       0.301905     0.335000    -0.257500    -0.312500
max       0.308750     0.345370    -0.062857    -0.282500